[Unit]
Description=Hazelcast service

[Service]
Environment=MAVEN_OPTS=-Xms1G -Xmx2G -server
WorkingDirectory=/var/hazelcast
ExecStart=/usr/bin/mvn exec:java
Restart=always

[Install]
WantedBy=multi-user.target
